# Bibliotecas baixadas pelo composer
vendor/

# Cache do composer
composer.lock

# Variaveis de ambiente locais
.env

# Pasta de configuracao do PHPStorm
.idea/

# Arquivos MAC
.DS_Store

# Pasta de logs local
application/logs/*
!application/logs/.gitkeep

# Pasta de configuracao do Visual Studio
.vs
